.header {
    position: relative;
    display: flex;
    width: 100%;
    background-color: yellow;
    justify-content: center;
}

.logo {
    height: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #FFEDC3;
}

.knap {
    height: 80px;
    width: 200px;
    border-radius: 40px;
    border-color: orangered;
    background-color: orange;
    font-weight: bold;
    color: white;
    font-size: 30px;
    border-width: 5px;
}

#spil-knap {
    margin-right: 800px;
    margin-top: 60px;
    position: absolute;
}

#highscore-knap {
    margin-left: 800px;
    margin-top: 60px;
    position: absolute;
}

.beholder {
 position: relative;
 display: flex;
 width: 100%;
 justify-content: center;
}

.spiller {
 background-color: #D4CB79;
 height: 700px;
 width: 30%;
 border-radius: 100px;
 margin: 60px;
}

.kategori {
 background-color: #D4CB79;
 height: 700px;
 width: 50%;
 border-radius: 100px;
 margin: 60px;
}

.overskrift {
 text-align: center;
 font-size: 50px;
 margin-top: 20px;
 font-weight: bold;
}

h2 {
 text-align: center;
 font-size: 35px;
 margin: 0px;
 font-weight: bold;
}

.spillerAvatar {
height: 40px;
margin: 10px;

}

.formFormat {
 position: relative;
 justify-content: center;
  width: 70%;
 display: inline-block;
 
}

.internalInput {
 border-radius: 5px;
 padding-left: 10px;
 font-size: 20px;
 width: 70%;
 margin: 10px;

}
.minus{
 float: right;
 width: 20%;
 display: flex;
 justify-content: center;
 align-items: center;
}

form {
 justify-content: center;
 display: flex;
 width: 100%;
}

.internal{
 display: flex;
}

.minus input {
 display: none;
 height: 60px;
}

.solid {
 border-width: 1px;
 border-style: solid;
 margin-left: 30px;
 margin-right: 30px;
 border-color: black;
}

#spillerForm4{
 display: none;
}

/* #spillerForm3{
 display: none;
} */

/* #spillerForm4{
 display: none;
} */

.plus{
 float:center;
 display: flex;
 justify-content: center;
 align-items: center;
}

.plus img {
 height: 60px;
}

.runde{
 text-align: left;
 margin-left: 30px;
}

.valg{
 /* display: inline-block; */
 /* float:center; */
}

.række{
 /* float:center;
 display: flex;
 justify-content: center;
 align-items: center; */
}