<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script>var exports = {};</script>
    <script src="../scripts/loadCategories.js"></script>
    <script src="../scripts/buzzer.js"></script>
</head>
<body>
    <div class="header">
        <button class="knap" id="spil-knap">SPIL</button>
        <img class="logo" src="../images/logo.png" alt="Jeopardy logo">
        <button class="knap" id="highscore-knap">HIGHSCORE</button>
    </div>
    
    <div class="beholder">

     <!----------------------------------------- SPILLERE ------------------------------------------->
     <div class="spiller">
      <h1 class="overskrift">SPILLERE</h1>
      
      <!-- SPILLER1 -->
      <form id="spillerForm1">
       <div class="formFormat">
     
        <div class="internal">
         <img src="../images/spiller.png" class="spillerAvatar">
         <input type="text" value="Spiller1" id="spiller1" class="internalInput">
        </div>

        <div class="internal">
         <img src="../images/buzzer.png" class="spillerAvatar">
         <input type="text" value="Buzzer-knap" id="buzzer1" class="internalInput">
        </div>

       </div>

       <div class="minus">
        <input type="image" src="../images/minus.png">
       </div>

      </form>
      
      <!-- Divider -->
      <hr class="solid">

      <!-- SPILLER2 -->
      <form id="spillerForm2">
       <div class="formFormat">
     
        <div class="internal">
         <img src="../images/spiller.png" class="spillerAvatar">
         <input type="text" value="Spiller2" id="spiller2" class="internalInput">
        </div>

        <div class="internal">
         <img src="../images/buzzer.png" class="spillerAvatar">
         <input type="text" value="Buzzer-knap" id="buzzer2" class="internalInput">
        </div>

       </div>

       <div class="minus">
        <input type="image" src="../images/minus.png">
       </div>

      </form>
      
      <!-- Divider -->
      <hr class="solid">

      <!-- SPILLER3 -->
      <form id="spillerForm3">
       <div class="formFormat">

        <div class="internal">
         <img src="../images/spiller.png" class="spillerAvatar">
         <input type="text" value="Spiller3" id="spiller3" class="internalInput">
        </div>

        <div class="internal">
         <img src="../images/buzzer.png" class="spillerAvatar">
         <input type="text" value="Buzzer-knap" id="buzzer3" class="internalInput">
        </div>

       </div>

       <div class="minus">
        <input type="image" src="../images/minus.png">
       </div>

      </form>

      <!-- SPILLER4 -->
      <form id="spillerForm4">
       <div class="formFormat">
     
        <div class="internal">
         <img src="../images/spiller.png" class="spillerAvatar">
         <input type="text" value="Spiller4" id="spiller4" class="internalInput">
        </div>

        <div class="internal">
         <img src="../images/buzzer.png" class="spillerAvatar">
         <input type="text" value="Buzzer-knap" id="buzzer4" class="internalInput">
        </div>

       </div>

       <div class="minus">
        <input type="image" src="../images/minus.png">
       </div>

      </form>
     
      <div class="plus">
       <img src="../images/plus.png">
      </div>
      
      <h2>Tilføj spiller</h2>

     </div>

     <!-- Når vi tilføjer mr 3 spiller, skal vi vise minusknapper (fjern .minus input display:none) -->

     <!----------------------------------------- KATEGORIER ------------------------------------------->

     <div class="kategori">
      <h1 class="overskrift">KATEGORIER</h1>
      <h2 class="rundeOverskrift">Runde 1</h2>

      <form id="kategorivalg1" class="katForm">

       <div class="runde">
        <div class="række">
         
         <div class="valg">
          <h3>1</h3>
          <select value="" id="kategori1" class="kategoriDropdown">
           <option>vælg kategori</option>
           <option>A</option>
           <option>B</option>
          </select>
         </div>

         <div class="valg">
          <h3>2</h3>
          <select value="" id="kategori2" class="kategoriDropdown">
           <option>vælg kategori</option>
           <option>A</option>
           <option>B</option>
          </select>
         </div>

         <div class="valg">
          <h3>3</h3>
          <select value="" id="kategori3" class="kategoriDropdown">
           <option>vælg kategori</option>
           <option>A</option>
           <option>B</option>
          </select>
         </div>

        </div>

        <div class="række">
         
         <div class="valg">
          <h3>4</h3>
          <select value="" id="kategori4" class="kategoriDropdown">
           <option>vælg kategori</option>
           <option>A</option>
           <option>B</option>
          </select>
         </div>

         <div class="valg">
          <h3>5</h3>
          <select value="" id="kategori5" class="kategoriDropdown">
           <option>vælg kategori</option>
           <option>A</option>
           <option>B</option>
          </select>
         </div>

         <div class="valg">
          <h3>6</h3>
          <select value="" id="kategori6" class="kategoriDropdown">
           <option>vælg kategori</option>
           <option>A</option>
           <option>B</option>
          </select>
         </div>

        </div>

       </div>

      </form>

      <br><br><br>

      <h2 class="rundeOverskrift">Runde 2</h2>

      <form id="kategorivalg1" class="katForm">

       <div class="runde">
        <div class="række">
         
         <div class="valg">
          <h3>1</h3>
          <select value="" id="kategori7" class="kategoriDropdown">
           <option>vælg kategori</option>
           <option>A</option>
           <option>B</option>
          </select>
         </div>

         <div class="valg">
          <h3>2</h3>
          <select value="" id="kategori8" class="kategoriDropdown">
           <option>vælg kategori</option>
           <option>A</option>
           <option>B</option>
          </select>
         </div>

         <div class="valg">
          <h3>3</h3>
          <select value="" id="kategori9" class="kategoriDropdown">
           <option>vælg kategori</option>
           <option>A</option>
           <option>B</option>
          </select>
         </div>

        </div>

        <div class="række">
         
         <div class="valg">
          <h3>4</h3>
          <select value="" id="kategori10" class="kategoriDropdown">
           <option>vælg kategori</option>
           <option>A</option>
           <option>B</option>
          </select>
         </div>

         <div class="valg">
          <h3>5</h3>
          <select value="" id="kategori11" class="kategoriDropdown">
           <option>vælg kategori</option>
           <option>A</option>
           <option>B</option>
          </select>
         </div>

         <div class="valg">
          <h3>6</h3>
          <select value="" id="kategori12" class="kategoriDropdown">
           <option>vælg kategori</option>
           <option>A</option>
           <option>B</option>
          </select>
         </div>

        </div>

       </div>





      </form>

      <div class="startknap">
       <button class="knap" id="start-knap">START</button>
      </div>
      

     </div>

    </div>

</body>
</html>