<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="https://m.media-amazon.com/images/I/31M2GpmH5VL.png">
    <title>Scoreboard</title>
</head>
<body>

<div class="header">
    <img class="logo" src="/images/logo.png" alt="Jeopardy logo">
</div>

<section class="scoreboard_table_section">

 <div class="scoreboard_table_container">

  <table id="scoreboard">
   <tr id="scoreboard_overskrifter">
       <th>Plads</th>
       <th>Navn</th>
       <th>Point</th>
       <th>Dato</th>
       <th>Modstandere1</th>
       <th>Modstandere2</th>
       <th>Modstandere3</th>
   </tr>
   <tr class="row1" id="rank1">
    <th value = "1">100</th>
    <th value = "2">100</th>
    <th value = "3">100</th>
    <th value = "4">100</th>
    <th value = "5">100</th>
    <th value = "6">100</th>
    <th value = "7">100</th>
   </tr>
   <tr class="row2">
       <th value = "1">100</th>
       <th value = "2">100</th>
       <th value = "3">100</th>
       <th value = "4">100</th>
       <th value = "5">100</th>
       <th value = "6">100</th>
       <th value = "7">100</th>
   </tr>
   <tr class="row3">
       <th value = "1">200</th>
       <th value = "2">200</th>
       <th value = "3">200</th>
       <th value = "4">200</th>
       <th value = "5">200</th>
       <th value = "6">200</th>
       <th value = "7">100</th>
   </tr>
   <tr class="row4">
       <th value = "1">300</th>
       <th value = "2">300</th>
       <th value = "3">300</th>
       <th value = "4">300</th>
       <th value = "5">300</th>
       <th value = "6">300</th>
       <th value = "7">100</th>
   </tr>
   <tr class="row5">
       <th value = "1">400</th>
       <th value = "2">400</th>
       <th value = "3">400</th>
       <th value = "4">400</th>
       <th value = "5">400</th>
       <th value = "6">400</th>
       <th value = "7">100</th>
   </tr>
   <tr class="row6">
       <th value = "1" >500</th>
       <th value = "2" >500</th>
       <th value = "3" >500</th>
       <th value = "4" >500</th>
       <th value = "5" >500</th>
       <th value = "6" >500</th>
       <th value = "7">100</th>
   </tr>
   <tr class="row7">
    <th value = "1" >500</th>
    <th value = "2" >500</th>
    <th value = "3" >500</th>
    <th value = "4" >500</th>
    <th value = "5" >500</th>
    <th value = "6" >500</th>
    <th value = "7">100</th>
   </tr>
   <tr class="row8">
    <th value = "1" >500</th>
    <th value = "2" >500</th>
    <th value = "3" >500</th>
    <th value = "4" >500</th>
    <th value = "5" >500</th>
    <th value = "6" >500</th>
    <th value = "7">100</th>
   </tr>
   <tr class="row9">
    <th value = "1" >500</th>
    <th value = "2" >500</th>
    <th value = "3" >500</th>
    <th value = "4" >500</th>
    <th value = "5" >500</th>
    <th value = "6" >500</th>
    <th value = "7">100</th>
   </tr>  
   <tr class="row10">
    <th value = "1" >500</th>
    <th value = "2" >500</th>
    <th value = "3" >500</th>
    <th value = "4" >500</th>
    <th value = "5" >500</th>
    <th value = "6" >500</th>
    <th value = "7">100</th>
   </tr>         

  </table>

 </div>

</section>

</body>

<script src="/scripts/scoreboard.js" type="module"></script>


</html>