<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="https://m.media-amazon.com/images/I/31M2GpmH5VL.png">
    <title>Scoreboard</title>
</head>
<body>

<div class="header">
    <img class="logo" src="/images/logo.png" alt="Jeopardy logo">
</div>

<section class="scoreboard_table_section">

 <div class="scoreboard_table_container">

  <table id="scoreboard">
   <tr id="scoreboard_overskrifter">
   </tr>
   <tr class="row1" id="rank1">
   </tr>
  </table>

 </div>

</section>

</body>

<script src="/scripts/scoreboard.js" type="module"></script>

</html>