<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="https://m.media-amazon.com/images/I/31M2GpmH5VL.png">
    <title>Document</title>
</head>
<body onload="showStartingPlayerPopup()">




<div class="header">
    <img class="logo" src="/images/logo.png" alt="Jeopardy logo">
</div>

    <section class="table">

<div class="theTableOne">

        <table id="myTable ">
            <tr id="kategori" class="Kategori" >
                <th>Alle gode ting på denne jord</th>
                <th>Kategori 2</th>
                <th>Kategori 3</th>
                <th>Kategori 4</th>
                <th>Kategori 5</th>
                <th>Kategori 6</th>
            </tr>
            <tr class="first" id="first">
                <th value = "1">100</th>
                <th value = "2">100</th>
                <th value = "3">100</th>
                <th value = "4">100</th>
                <th value = "5">100</th>
                <th value = "6">100</th>
            </tr>
            <tr class="second" id="second">
                <th value = "1">200</th>
                <th value = "2">200</th>
                <th value = "3">200</th>
                <th value = "4">200</th>
                <th value = "5">200</th>
                <th value = "6">200</th>
            </tr>
            <tr class="third" id="third">
                <th value = "1">300</th>
                <th value = "2">300</th>
                <th value = "3">300</th>
                <th value = "4">300</th>
                <th value = "5">300</th>
                <th value = "6">300</th>
            </tr>
            <tr class="forth" id="fourth">
                <th value = "1">400</th>
                <th value = "2">400</th>
                <th value = "3">400</th>
                <th value = "4">400</th>
                <th value = "5">400</th>
                <th value = "6">400</th>
            </tr>
            <tr class="fifth" id="fifth">
                <th value = "1" >500</th>
                <th value = "2" >500</th>
                <th value = "3" >500</th>
                <th value = "4" >500</th>
                <th value = "5" >500</th>
                <th value = "6" >500</th>
            </tr>
            

        </table>

</div>



    </section>


    <section class="podium">

        <div class="card" id="card1">
            <div class="points">
                <p></p>
            </div>
            <div class="name">
            <p >Name</p>
            </div>
            <div class="button">
                <p></p>
            </div>
        </div> 

        <div class="card" id="card2">
            <div class="points">
                <p></p>
            </div>
            <div class="name">
                <p>Name</p>
            </div>
            <div class="button">
                <p></p>
            </div>
        </div>

        <div class="card" id="card3">
            <div class="points">
                <p></p>
            </div>
            <div class="name">
                <p>Name</p>
            </div>
            <div class="button">
                <p></p>
            </div>
        </div>

        <div class="card" id="card4">
            <div class="points">
                <p></p>
            </div>
            <div class="name">
                <p>Name</p>
            </div>
            <div class="button">
                <p></p>
            </div>
        </div>




    </section>



    <div id="fadeBackground" onclick="closeHelpPopup()"></div>

<div class="popup" id="startingPlayerPopup">
    <br><br>
    <h2 id="startingPlayer"></h2>
    <button type="button" onclick="closeStartingPlayerPopup()" id="closeStartingPlayerPopup">Lets go!</button>
</div>



     <!------------------------------ POPUP QUESTION ---------------------------------------------------->
     <!-- fade background -->
     <div id="fadeQuestion_popup_background"></div>
     
     <!-- <div class="maincontainer" class="question-popup" id="Question_popup">
      <div class="thecard"> -->

       <!-- maincontainer: -->
       <div class="question-popup" id="Question_popup"> 
        <div class="thecard" id="thecard">

         <div class="thefront" id="frontQuestion">
          <br>
          <h2 id="question_popup_H2">Spørgsmål</h2>
          <div id="questionBlock" class="questionBlock100">
           
           <div id="numberTimeout"></div>
          </div>

           <h2 id="firstToBuzzH2"></h2>
          
         </div>

         <div class="theback" id="backQuestion">
          <br>
          <h2 id="question_popup_H2_Back">Spørgsmål</h2>

          <div id="answerBlock" class="answerBlock100">
           <input id=answerInput type="text" placeholder="skriv svaret her..." autocomplete="off">
           <button id="answerButton" class="knap" >Svar</button>
          </div>

          <h4 class="answerBlock100" id="answerResponce"></h4>

          <div id="afterAnwserButtons">
            <div>
            <button id="itWasRightButton" class="hide" class="knap">Svar var rigtigt</button>
            </div>
            <div>
            <button id="continueButton" class="hide" class="knap">Fortsæt</button>
            </div>


          </div>

         </div>

        </div>
       </div>

    

</body>

<script src="/scripts/showQuestions.js"></script>
<script src="/scripts/tableCategories.js"></script>
<script src="/scripts/popup.js"></script>


</html>