<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>Document</title>
</head>
<body>

<div class="header">
    <img class="logo" src="/images/logo.png" alt="Jeopardy logo">
</div>

    <section class="table">

<div class="theTableOne">

        <table id="myTable ">
            <tr id="kategori" class="Kategori" >
                <th>Alle gode ting på denne jord</th>
                <th>Kategori 2</th>
                <th>Kategori 3</th>
                <th>Kategori 4</th>
                <th>Kategori 5</th>
                <th>Kategori 6</th>
            </tr>
            <tr class="first">
                <th value = "1">100</th>
                <th value = "2">100</th>
                <th value = "3">100</th>
                <th value = "4">100</th>
                <th value = "5">100</th>
                <th value = "6">100</th>
            </tr>
            <tr class="second">
                <th value = "1">200</th>
                <th value = "2">200</th>
                <th value = "3">200</th>
                <th value = "4">200</th>
                <th value = "5">200</th>
                <th value = "6">200</th>
            </tr>
            <tr class="third">
                <th value = "1">300</th>
                <th value = "2">300</th>
                <th value = "3">300</th>
                <th value = "4">300</th>
                <th value = "5">300</th>
                <th value = "6">300</th>
            </tr>
            <tr class="forth">
                <th value = "1">400</th>
                <th value = "2">400</th>
                <th value = "3">400</th>
                <th value = "4">400</th>
                <th value = "5">400</th>
                <th value = "6">400</th>
            </tr>
            <tr class="fifth">
                <th value = "1" >500</th>
                <th value = "2" >500</th>
                <th value = "3" >500</th>
                <th value = "4" >500</th>
                <th value = "5" >500</th>
                <th value = "6" >500</th>
            </tr>
            

        </table>

</div>

    <script src="/scripts/showQuestions.js"></script>

    </section>


    <section class="podium">

        <div class="card" id="card1">
            <div class="points">
                <p>0</p>
            </div>
            <div class="name">
            <p >NameTest</p>
            </div>
            <div class="button">
                <p>Space</p>
            </div>
        </div> 

        <div class="card" id="card2">
            <div class="points">
                <p>0</p>
            </div>
            <div class="name">
                <p>Name</p>
            </div>
            <div class="button">
                <p>Space</p>
            </div>
        </div>

        <div class="card" id="card3">
            <div class="points">
                <p>0</p>
            </div>
            <div class="name">
                <p>Name</p>
            </div>
            <div class="button">
                <p>Space</p>
            </div>
        </div>

        <div class="card" id="card4">
            <div class="points">
                <p>0</p>
            </div>
            <div class="name">
                <p>Name</p>
            </div>
            <div class="button">
                <p>Space</p>
            </div>
        </div>




    </section>




</body>


<script src="/scripts/tableCategories.js"></script>


</html>